<!doctype html>
<html lang="en">
  <head>
    <% include includes/header %>
    <title><%= title %></title>
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <% include includes/navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include includes/sidebar %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2 class="mr-0"><%= title %></h2>
            <div class="h4 text-muted align-bottom text-nowrap pb-0 mb-0"><%= titlePeriod %></div>
            <div class="btn-toolbar mb-2 mb-md-0">
              <form method="POST" id="formTimesheet" action="/timesheet">
                <input name="datePeriod" id="datePeriod" value="<%= datePeriod %>" hidden>
                <div class="btn-group btn-group-toggle mr-2">
                  <button class="btn btn-sm btn-outline-secondary <%= (datePeriod=='sample') ? 'active' : '' %>"
                    onclick="$('#datePeriod').val('sample')">Sample</button>
                  <button class="btn btn-sm btn-outline-secondary <%= (datePeriod=='this-week') ? 'active' : '' %>"
                    onclick="$('#datePeriod').val('this-week')">This week</button>
                  <button class="btn btn-sm btn-outline-secondary <%= (datePeriod=='last-week') ? 'active' : '' %>"
                    onclick="$('#datePeriod').val('last-week')">Last week</button>
                </div>
              </form>
            </div>
          </div>

          <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

          <h3>Summary Report</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Leave Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Hour(s)</th>
                  <th>Catch-up Date </th>
                  <th>Start Time</th>
                  <th>End Time</th>
                </tr>
              </thead>
              <tbody>
                <% report.forEach( row => { %>
                  <tr>
                    <td><%= row.name %></td>
                    <td><%= row.leaveDate %></td>
                    <td><%= row.leaveTimeStart %></td>
                    <td><%= row.leaveTimeEnd %></td>
                    <td><%= row.duration %></td>
                    <td><%= row.catchupDate %></td>
                    <td><%= row.catchupTimeStart %></td>
                    <td><%= row.catchupTimeEnd %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          
        </main>
      </div>
    </div>

    <% include includes/bootstrap-js %>

    <!-- Graphs -->
    <script src="/scripts/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: [<%- chartLabels %>],
          datasets: [{
            label: 'Urgent Leave',
            data: [<%- chartLeaves %>],
            backgroundColor: '#ff0026',
            borderColor: '#ff0026',
            borderWidth: 1
          },
          {
            label: 'Catchup',
            data: [<%- chartCatchups %>],
            backgroundColor: '#007bff',
            borderColor: '#007bff',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            xAxes: [{
              ticks: {
                max: 8,
                min: 0,
                stepSize: 1
              }
            }]
          }
        }
      });
    </script>
  </body>
</html>
