<!doctype html>
<html lang="en">
  <head>
    <% include includes/header %>
    <title><%= title %></title>
    <link href="/css/pages/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <% include includes/navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include includes/sidebar %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="border-bottom">
            <h2 class="h2">User Profile</h2>
          </div>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td> Name :</td>
                <td> <%= name %> </td>
              </tr>
              <tr>
                <td>UID :</td>
                <td> <%= uid %></td>
              </tr>
              <tr>
                  <td>Pods:</td>
                  <td><%= pods %></td>              
              </tr>
              <tr>
                <td>Roles:</td>
                <td><%= roles %></td>
              </tr>
            </tbody>
          </table>
          <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Update</button>
            <a class="col-md-6 mb-"><%= message %></a>
          </form>
        </main>
      </div>
    </div>

    <% include includes/bootstrap-js %>
  </body>
</html>
