<!doctype html>
<html lang="en">
  <head>
    <% include includes/header %>
    <title><%= title %></title>
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <% include includes/navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include includes/sidebar %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="border-bottom">
            <h2 class="h2">User Profile</h2>
          </div>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td> Name :</td>
                <td> <%= name %> </td>
              </tr>
              <tr>
                <td>UID :</td>
                <td> <%= uid %></td>
              </tr>
              <tr>
                <td>Password :</td>
                <td>
                  <form class="form-inline">
                    <input type="password" name="newPassword" placeholder="New Password" required>
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                    <a class="col-md-6"><%= message %></a>
                  </form>
                </td>
              </tr>
              <tr>
                <td>Pod:</td>
                <td><%= pod %></td>              
              </tr>
              <tr>
                <td>Role:</td>
                <td><%= role %></td>
              </tr>
            </tbody>
          </table>
          
        </main>
      </div>
    </div>

    <% include includes/bootstrap-js %>
  </body>
</html>
