<!doctype html>
<html lang="en">
  <head>
    <% include includes/header %>
    <title><%= title %></title>
    <link href="/css/pages/dashboard.css" rel="stylesheet">
    <link href="/css/pages/bootstrap-datepicker.standalone.css" rel="stylesheet">
  </head>

  <body>
    <% include includes/navbar %>
    <div class="container-fluid">
      <div class="row">
        <% include includes/sidebar %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2 class="mr-0"><%= title %></h2>
            <div class="h4 text-muted align-bottom text-nowrap pb-0 mb-0"><%= titlePeriod %></div>
            <div class="btn-toolbar mb-2 mb-md-0">
              <form method="POST" id="formTimesheet" action="/timesheet">
                <input name="datePeriod" id="datePeriod" value="<%= datePeriod %>" hidden>
                <div class="btn-group btn-group-toggle mr-2">
                  <button class="btn btn-sm btn-outline-secondary <%= (datePeriod=='sample') ? 'active' : '' %>"
                    onclick="$('#datePeriod').val('sample')">Sample</button>
                  <button class="btn btn-sm btn-outline-secondary <%= (datePeriod=='this-week') ? 'active' : '' %>"
                    onclick="$('#datePeriod').val('this-week')">This week</button>
                  <button class="btn btn-sm btn-outline-secondary <%= (datePeriod=='last-week') ? 'active' : '' %>"
                    onclick="$('#datePeriod').val('last-week')">Last week</button>
                </div>
              </form>
            </div>
          </div>

          <canvas class="my-4" id="myChart" width="900" height="300"></canvas>

          <h3>Summary Report</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Leave Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Hour(s)</th>
                  <th>Catch-up Date </th>
                  <th>Start Time</th>
                  <th>End Time</th>
                </tr>
              </thead>
              <tbody>
                <% report.forEach( row => { %>
                  <tr>
                    <td><%= row.leaveDate %></td>
                    <td><%= row.leaveTimeStart %></td>
                    <td><%= row.leaveTimeEnd %></td>
                    <td><%= row.duration %></td>
                    <td><%= row.catchupDate %></td>
                    <td><%= row.catchupTimeStart %></td>
                    <td><%= row.catchupTimeEnd %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>

          <% include includes/workHours %>
          <hr class="mb-4 mt-0">
          <h3>Record your leaves</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th/>
                  <th>Leave Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Hour(s)</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="tbodyLv">
                <% leaves.forEach( l => { %>
                  <tr id="trLv:<%= l.id %>">
                    <td/>
                    <td class="align-middle" id="date:<%= l.id %>"><%= l.date %></td>
                    <td class="align-middle" id="timeStart:<%= l.id %>"><%= l.timeStart %></td>
                    <td class="align-middle" id="timeEnd:<%= l.id %>"><%= l.timeEnd %></td>
                    <td class="align-middle" id="duration:<%= l.id %>"><%= calcHours(l.timeStart, l.timeEnd) %></td>
                    <td class="align-middle"><button class="btn btn-danger btn-sm" id="btnRmLv:<%= l.id %>">Remove</button></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-4 pr-0 mb-3">
              <input class="custom-select" id="leaveDate" 
                placeholder="Leave Date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-3 pr-0 mb-3">
              <select class="custom-select" id="leaveTimeStart">
                <option value="">Start hour ...</option>
                <option value="9:00">9:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
              </select>
            </div>
            <div class="col-3 pr-0 mb-3">
              <select class="custom-select" id="leaveTimeEnd">
                <option value="">End hour ...</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
              </select>
            </div>
            <div class="col-2 mb-3">
              <button class="btn btn-success" id="btnAddLv">Add</button>
            </div>
          </div>

          <div class="mt-3"/>
          <h3>Record your catch-ups</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th/>
                  <th>Catch-up Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Hour(s)</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="tbodyCat">
                <% catchups.forEach( c => { %>
                  <tr id="trCat:<%= c.id %>">
                    <td/>
                    <td class="align-middle" id="date:<%= c.id %>"><%= c.date %></td>
                    <td class="align-middle" id="timeStart:<%= c.id %>"><%= c.timeStart %></td>
                    <td class="align-middle" id="timeEnd:<%= c.id %>"><%= c.timeEnd %></td>
                    <td class="align-middle" id="duration:<%= c.id %>"><%= calcHours(c.timeStart, c.timeEnd) %></td>
                    <td class="align-middle"><button class="btn btn-danger btn-sm" id="btnRmCat:<%= c.id %>">Remove</button></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-4 pr-0 mb-3">
              <input class="custom-select" id="catchupDate" 
                placeholder="Catch-up Date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
              <div class="invalid-feedback">
                Catch-up date is required.
              </div>
            </div>
            <div class="col-3 pr-0 mb-3">
              <select class="custom-select" id="catchupTimeStart">
                <option value="">Start hour ...</option>
                <option value="7:00">7:00</option>
                <option value="8:00">8:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
              </select>
              <div class="invalid-feedback">
                Please choose a valid start hour.
              </div>
            </div>
            <div class="col-3 pr-0 mb-3">
              <select class="custom-select" id="catchupTimeEnd">
                <option value="">End hour ...</option>
                <option value="8:00">8:00</option>
                <option value="9:00">9:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
              </select>
              <div class="invalid-feedback">
                  Please choose a valid end hour.
              </div>
            </div>
            <div class="col-2 mb-3">
              <button class="btn btn-success" id="btnAddCat">Add</button>
            </div>
          </div>
          
          <hr class="mt-2 mb-0">
          <table class="table table-striped mb-1">
            <tbody>
              <tr>
                <td class="text-info font-weight-bold">Total leave hour(s):</td>
                <td id='totalLvHrs'><%= leaves.reduce((sum, l) => sum + calcHours(l.timeStart, l.timeEnd), 0) %></td>
                <td class="text-info font-weight-bold">Total catch-up hour(s):</td>
                <td id="totalCatHrs"><%= catchups.reduce((sum, c) => sum + calcHours(c.timeStart, c.timeEnd), 0) %></td>
                <td id="totalMatchResult"></td>
              </tr>
            </tbody>
          </table>
          
          <button class="btn btn-primary btn-lg btn-block" id="btnSubmit">Submit</button>
          <div class="mt-3"/>
        </main>
      </div>
    </div>

    <% include includes/bootstrap-js %>

    <!-- Table add/remove rows -->
    <script type="text/javascript">
      
      // add callbacks for add and remove button
      $(document).ready(() => {
        // adding leave callback when clicking "Add" button
        $("#btnAddLv").click(() => {
          const leaveDate = $("#leaveDate").val();
          const leaveTimeStart = $("#leaveTimeStart").val();
          const leaveTimeEnd = $("#leaveTimeEnd").val();
          const rowId = Date.now().toString();
          
          // add new leave record
          const row = `<tr id="trLv:${rowId}" class="table-success">`
                      + `<td class="align-middle text-center" style="width: 3rem"><span class="badge badge-success">New</span></td>`            
                      + `<td class="align-middle" id="date:${rowId}">${leaveDate}</td>` 
                      + `<td class="align-middle" id="timeStart:${rowId}">${leaveTimeStart}</td>`
                      + `<td class="align-middle" id="timeEnd:${rowId}">${leaveTimeEnd}</td>`
                      + `<td class="align-middle" id="duration:${rowId}">${calcHours(leaveTimeStart, leaveTimeEnd)}</td>` 
                      + `<td class="align-middle"><button class="btn btn-danger btn-sm" id="btnRmLv:${rowId}">Remove</button></td>`
                      + `</tr>`;
          $("#tbodyLv").append(row);
          calcTotalHours('tbodyLv', 'totalLvHrs');

          // add callback for remove buttons
          $(`#btnRmLv\\:${rowId}`).click(() => {
            $(`#trLv\\:${rowId}`).remove();
            calcTotalHours('tbodyLv', 'totalLvHrs');
          });
        });

        // add leave's removal button's callback for existing data
        $("[id^=btnRmLv]").each((_, btn) => {
          const rowId = btn.id.split(':')[1];
          $(`#btnRmLv\\:${rowId}`).click(() => {
            $(`#trLv\\:${rowId}`).remove();
            calcTotalHours('tbodyLv', 'totalLvHrs');
          });
        });
        
        // adding catchup callback when clicking "Add" button
        $("#btnAddCat").click(() => {
          const catchupDate = $("#catchupDate").val();
          const catchupTimeStart = $("#catchupTimeStart").val();
          const catchupTimeEnd = $("#catchupTimeEnd").val();
          const rowId = Date.now().toString();
          
          const row = `<tr id="trCat:${rowId}" class="table-success">`
                      + `<td class="align-middle text-center" style="width: 3rem"><span class="badge badge-success">New</span></td>`
                      + `<td class="align-middle" id="date:${rowId}">${catchupDate}</td>` 
                      + `<td class="align-middle" id="timeStart:${rowId}">${catchupTimeStart}</td>`
                      + `<td class="align-middle" id="timeEnd:${rowId}">${catchupTimeEnd}</td>`
                      + `<td class="align-middle" id="duration:${rowId}">${calcHours(catchupTimeStart, catchupTimeEnd)}</td>` 
                      + `<td class="align-middle"><button class="btn btn-danger btn-sm" id="btnRmCat:${rowId}">Remove</button></td>`
                      + `</tr>`;
          $("#tbodyCat").append(row);
          calcTotalHours('tbodyCat', 'totalCatHrs');
          
          // add callback for remove buttons
          $(`#btnRmCat\\:${rowId}`).click(() => {
            $(`#trCat\\:${rowId}`).remove();
            calcTotalHours('tbodyCat', 'totalCatHrs');
          });
        });

        // add catchup's removal button's callback for existing data
        $("[id^=btnRmCat]").each((_, btn) => {
          const rowId = btn.id.split(':')[1];
          $(`#btnRmCat\\:${rowId}`).click(() => {
            $(`#trCat\\:${rowId}`).remove();
            calcTotalHours('tbodyCat', 'totalCatHrs');
          });
        });
        
        $('#btnSubmit').click(e => {
          let dataLeaves = [];
          let dataCatchups = [];
          $("[id^=trLv]").each((_, tr) => {
            const rowId = tr.id.split(':')[1];
            dataLeaves.push({ "id": rowId,
                              "date": $(`#date\\:${rowId}`).text(),
                                       "timeStart": $(`#timeStart\\:${rowId}`).text(),
                              "timeEnd": $(`#timeEnd\\:${rowId}`).text() });
          });
          
          $("[id^=trCat]").each((_, tr) => {
            const rowId = tr.id.split(':')[1];
            dataCatchups.push({ "id": rowId,
                                "date": $(`#date\\:${rowId}`).text(),
                                         "timeStart": $(`#timeStart\\:${rowId}`).text(),
                                "timeEnd": $(`#timeEnd\\:${rowId}`).text() });
          });

          $.ajax({
            type: "POST",
            url: '/submitLeave',
            data: { "leaves": JSON.stringify(dataLeaves), 
                    "catchups": JSON.stringify(dataCatchups) 
                  }
          }).done((reUrl) => {
            window.location.replace(reUrl);
          });
        });
      });

      function calcHours(timeStart, timeEnd) {
        const hourFrom = timeStart.split(':')[0];
        const hourTo = timeEnd.split(':')[0];
        const duration = hourTo - hourFrom;
        return (hourFrom <= 12 && hourTo >= 13) ? 
          duration - 1 : duration;
      }

      function calcTotalHours(tbId, sumId) {
        const totalHrs = $(`#${tbId} td[id^=duration]`).toArray().reduce((sum, d) => sum + Number(d.innerHTML), 0);
        $(`#${sumId}`).html(totalHrs);
      }
        
    </script>

    <!-- Graphs -->
    <script src="/js/vendor/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [<%- chartLabels %>],
          datasets: [{
            label: 'Urgent Leave',
            data: [<%- chartLeaves %>],
            backgroundColor: '#ff0026',
            borderColor: '#ff0026',
            borderWidth: 1
          },
          {
            label: 'Catchup',
            data: [<%- chartCatchups %>],
            backgroundColor: '#007bff',
            borderColor: '#007bff',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                max: 4,
                min: 0,
                stepSize: 0.5
              }
            }]
          }
        }
      });
    </script>

    <!-- DatePicker -->
    <script src="/js/vendor/bootstrap-datepicker.min.js"></script>
  </body>
</html>
